.container {
    background-color: rgb(65, 62, 62);
    padding: 50px;
    align-items: center;
    
}

.nav-link {
    align-items: center;
    margin: auto;
    padding-top: 50%;
    margin-right: 5%;
    margin-left: 5%;
    color: rgb(235, 214, 214);
    text-decoration: none;
    font-size: 25px;
    
}
